<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.9&appId=425622997811098";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<link rel="stylesheet" href="../public/css/bootstraporiginal.css" />


  <div class="container">
      <div class="header">
          <ul class="nav nav-pills pull-right">
              <!-- Links to the two menu views included -->
              {{#ifCond user.tipo 'admin'}}
              <li disabled><a href="#/add">Agregar</a></li>
              <li disabled><a href="#/delete">Quitar</a></li>
              {{/ifCond}}
              <li active ><a href="#/list">Cervecerias</a></li>
              <li disabled><a href="#/find">Buscar</a></li>
          </ul>
      </div>
      <!-- Map and Side Panel -->
      <div class="row content">
          <!-- Google Map -->
          <div class="col-md-7">
              <div id="map" style="width:645px; height:645px"></div>
          </div>
          <div class="col-lg-5">
              <div ng-view></div>
          </div>
      </div>

      <hr>
      <!-- Footer -->
            <div class="footer">
                <p class="text-center"><span class="glyphicon glyphicon-check"></span> Created by Scarlato Nahuel & Llano Jose</p>
            </div>


</div>
