<!-- "Agregar" (Post) Form -->
<div class="col-md-5">

    <!-- Creates Main Panel -->
    <div class="panel panel-default">

        <!-- Panel Title -->
        <div class="panel-heading">
            <h2 class="panel-title text-center">Tu genial cerveceria <span class="glyphicon glyphicon-map-marker"></span></h2>
        </div>

        <!-- Panel Body -->
        <div class="panel-body">

            <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->
            <form name ="addForm" novalidate>

                <!-- Text Boxes and Other Brewery Inputs. Note ng-model binds the values to Angular $scope -->
                <div class="form-group">
                    <label for="breweryname">Nombre <span class="badge">All fields required</span></label>
                    <input type="text" class="form-control" id="username" placeholder="La Vieja y Confiable" ng-model="formData.name" required>
                </div>
                <div class="form-group">
                    <label for="street">Calle</label>
                    <input type="text" class="form-control" id="street" placeholder="Calle Falsa" ng-model="formData.street" required>
                    <label for="snumber">Nro°</label>
                    <input type="number" class="form-control" id="snumber" placeholder="123" ng-model="formData.snumber" required>
                </div>
                <div class="form-group">
                    <label for="tel">Telefono</label>
                    <input type="number" class="form-control" id="tel" placeholder="4561234" ng-model="formData.tel" required>
                </div>
                <div class="form-group">
                    <label for="site">Sitio Web</label>
                    <input type="text" class="form-control" id="site" placeholder="http://www.lafloreria.com" ng-model="formData.site" required>
                </div>
                <div class="form-group">
                    <label for="latitude">Latitude</label>
                    <input type="text" class="form-control" id="latitude" value="-38.718" ng-model="formData.latitude" readonly>
                </div>
                <div class="form-group">
                    <label for="longitude">Longitude</label>
                    <input type="text" class="form-control" id="longitude" value="-62.266" ng-model="formData.longitude" readonly>
                </div>

                <!-- Agregar button. Note that its tied to createBrewery() function from addCtrl. Also note ng-disabled logic which prevents early submits.  -->
                <button type="submit" class="btn btn-danger btn-block" ng-click="createBrewery()" ng-disabled="addForm.$invalid">Agregar</button>
            </form>
        </div>
    </div>
</div>