

<link rel="stylesheet" href="../public/css/bootstraporiginal.css" />


  <div class="container">
      <div class="header">
          <ul class="nav nav-pills pull-right">
              <!-- Links to the two menu views included -->
              {{#ifCond user.tipo 'admin'}}
              <li disabled><a href="#/add">Agregar</a></li>
              <li disabled><a href="#/less">Quitar</a></li>
              <li disabled><a href="#/edit">Editar</a></li>
              {{/ifCond}}
              <li active ><a href="#/list">Cervecerias</a></li>
              <li disabled><a href="#/find">Buscar</a></li>
          </ul>
      </div>
      <!-- Map and Side Panel -->
      <div class="row content">
          <!-- Google Map -->

          <div ng-view></div>
      </div>

      <hr>
      <!-- Footer -->
            <div class="footer">
                <p class="text-center"><span class="glyphicon glyphicon-check"></span> Created by Scarlato Nahuel & Llano Jose</p>
            </div>


</div>
