
<div class="container2">

    <header>
        <div class="col-lg-5">
          <div class="intro-text">
            <div class="intro-heading">KEEP</div>
            <div class="intro-heading">CALM</div>
            <div class="intro-lead-in">AND</div>
            <div class="intro-heading">DRINK</div>
            <div class="intro-heading">BEER</div>
      </div>
    </div>

  </header>
</div>
