
<div class="container2">

    {{#if user}}
    <li>
        <a href="/users/logout">Logout</a>
    </li>
    <li>
        <a href="/management">Management</a>
    </li>
    {{else}}
    <li class="hidden active">
        <a href="#page-top"></a>
    </li>
    {{/if}}
    <header>
        <div class="col-lg-4">
          <div class="intro-text">
            <div class="intro-heading">KEEP</div>
            <div class="intro-heading">CALM</div>
            <div class="intro-lead-in">AND</div>
            <div class="intro-heading">DRINK</div>
            <div class="intro-heading">BEER</div>
      </div>
    </div>

  </header>
</div>
