
    <div class="panel panel-default">

        <!-- Panel Title -->
        <div class="panel-heading">
            <h2 class="panel-title text-center">¿Alguna de estas es la que buscas? </h2>
        </div>

        <!-- Panel Body -->
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Telefono</th>

              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="cerveceria in cervecerias" style="cursor:pointer" >
                  <td> {{ cerveceria.name }} </td>
                  <td> {{ cerveceria.street }} </td>
                  <td> {{ cerveceria.tel }} </td>
                    <td> <button type="button" name="button" ng-click="deleteBrewery(cerveceria._id, $index)">Eliminar</button> </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
