
    <!-- Creates Main Panel -->
    <div class="panel panel-default">

        <!-- Panel Title -->
        <div class="panel-heading">
            <h2 class="panel-title text-center">Información</h2>
        </div>

        <!-- Panel Body -->
        <div class="panel-body">
            <h2>{{ cerveceria.name }}</h2>
            <br>
            <h4>Encontranos en {{ cerveceria.street }}</h4>
            <h4>Podes llamar a {{ cerveceria.tel }} para hacer reservas y/o consultas</h4>
            <h4>¿Cuándo es nuestro Happy Hour?</h4>
            <p>Pues de {{ cerveceria.happyHour[0] }} a {{ cerveceria.happyHour[1] }} ¡No te lo pierdas!</p>
            <br>
            <p>Sitio Web: <a ng-href="{{ cerveceria.site }}">{{ cerveceria.site }}</a></p>
        </div>
    </div>
    <div class="panel panel-default" >
        <div class="fb-comments" data-href="http://localhost:3000/map#/brewery/{{cerveceria._id}}" data-numposts="5"></div>
    </div>